.services-section {
  padding: 80px 40px;
  margin-top: -220px;
  /* background-color: white; */
  /* border:2px solid red; */
}

.services-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 6px;
  min-height: 280px;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-8px);
}

.icon {
  width: 60px;
  height: 60px;
  background: #2cd3d3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #0b2b36;
  margin-bottom: 10px;
}

.desc {
  font-size: 15px;
  line-height: 1.6;
  color: #6b7280;
}
