:root {
  --accent: #4fe1dc;
  --dark: #003b3b;
  --muted: #777;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.stats-section {
  padding: 80px 20px;
  background: #fff;
  /* border:2px solid red; */
}

.stats-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
}

.stat-card {
  display: flex;
  align-items: center;
  gap: 25px;
  /* border:2px solid red; */
}

.circle {
  width: 210px;
  height: 150px;
  border-radius: 50%;
  background: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle span {
  font-size: 26px;
  font-weight: bold;
  color: var(--dark);
  background: white;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-info small {
  color: var(--accent);
  letter-spacing: 1px;
  font-weight: 600;
}

.stat-info h3 {
  margin: 8px 0;
  color: var(--dark);
}

.stat-info p {
  font-size: 14px;
  color: var(--muted);
  max-width: 220px;
}

@media(max-width:600px) {
  .stat-card {
    flex-direction: column;
    text-align: center;
  }
}
